fastapi==0.128.8
uvicorn[standard]==0.39.0
jinja2==3.1.6
python-multipart==0.0.20
sqlmodel==0.0.34
sqlalchemy==2.0.46
alembic==1.16.5
psycopg2-binary==2.9.11
python-dotenv==1.2.1
itsdangerous==2.2.0
openai==2.21.0
pydantic==2.12.5
